
# Created by https://www.toptal.com/developers/gitignore/api/eclipse
# Edit at https://www.toptal.com/developers/gitignore?templates=eclipse



### config NRF project ###
.vscode/
pca10040/s132/ses/Output/
